.nav{
	background-color:greenyellow;
	background-position: center;
	text-decoration: none;
	text-align:center;
	margin:0;
	padding:0;
	}
.nav li{
	display: inline-block;
    list-style-type: none;
	font-size:25px;
	padding:25px;
}

body {
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
	background-color: seagreen;
}
#competition {
    font-family: arial, helvetica, sans-serif;
    border-collapse: collapse;
    width:35%;
}
 #competition, td, #competition th {
    border: 2px solid black;
    margin-left: 100px; 
    padding: 10px;
}
#competition
 tr:nth-child(even) {background-color: #d2d2d2;}
 #competition
  tr:hover {background-color: #bbb;}
#competition th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: yellowgreen;
    color: black;

}
button {
    background-color: mediumseagreen;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.two{
    margin-left: 50px;
    width: 300px;
    border:  2px solid black;
    margin-right: 50px;
}


div.three{

    width: 875px;
    margin-left: 170px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: maroon;
}
.footet{
    border: 12px 10px  ;
    margin-right:100px;
    margin-left: 100px; 
    abackground-position: 10px 10px; 
    padding: 10px;
    background:black;
}
.footer {
    clear: left;
  background-color: black;
  padding: 10px;
  text-align: center;
  }
div.gallery {
  margin: 5px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-right: 35px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 3px solid black;
}

div.gallery img {
  width: 100%;

}

div.desc {
  padding: 15px;
  text-align: center;
}
[title~=nature] {
  border: 3px solid green;
}